<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="https://getbootstrap.com//docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="24" height="19">
        <small class="d-block mb-3 text-body-secondary">&copy; 2017–2023</small>
      </div>
      <div class="col-6 col-md">
        <h5>Electronics</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">TV</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Soud system</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Game console</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">DVD</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Bluerays</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Home theater</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Automobiles</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cars Part</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Engine Part</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Windscreen</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Car Seat</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Mobile Phone</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Phone Screen</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Phone Batteries</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Phoe panel</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Phone Accessories</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
<script src="https://getbootstrap.com/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    </body>
</html>